{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dozariha</title>
    <!-- #ToDo:load css from CDN s -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_css.css' %}">
    <!-- <script src="{% static 'js/materialize.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
        media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#influncers").autocomplete({
                source: "/ajax_calls/search/",
                // ['milad','matin','mohammad'],
                minLength: 2,
            });
        });
    </script>
</head>

<body>
    <header class='col s12 col m12 col l12'>
        <div class="card-panel teal lighten-2">
            this is a test for menu

        </div>
    </header>
    <container>


        <div class="col m10 s11 card-panel center-align">

            <div class="row">
                <div class="col s3"></div>
                <form class="col s9" action="/  submit_comment/" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">textsms</i>
                            <input type="text" id="influncers" class="autocomplete" name='INFLUNCER'>
                            <label for="influncers">Inufluencer</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="textarea1" class="materialize-textarea" name="COMMENT"></textarea>
                            <label for="textarea1">Text</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s2" style="padding-top: 25px;">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="row card-panel black">


            </div> -->
            <!-- <div class="divider"></div> -->
            <ul>
                {% for item in comments reversed %}
                <li>
                    <div class="row flex-container blue-grey ">
                        <div class="flex-item col s3 col xs4 card-panel grey lighten-2">
                            <div class="row card-panel blue profilePic">
                                <!-- <img src="{{item.Influencer.profile_pic.url}}" height="100px" width="100px"
                                    alt="profile picture{{item.Influencer.profile_name}}"> -->

                                {% load sorl_thumbnail %}
                                {% thumbnail item.Influencer.profile_pic "100x100" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                    alt="profile picture{{item.Influencer.profile_name}}">
                                {% endthumbnail %}
                            </div>
                            <div class="row card-panel blue profileText">

                                {{item.Influencer.name}}
                                <br>

                                {{item.Influencer.profile_name}}

                            </div>
                        </div>
                        <div class="flex-item col s9 card-panel">
                            <p style="color: red;">

                                {{item.comment_text}}
                            </p>
                        </div>


                    </div>
                    <div class="divider"></div>

                </li>

                {%endfor%}
            </ul>


        </div>

    </container>
    <footer></footer>
</body>

</html>