                        <div class="col s3 card-panel blue ">



                            <div class="row card-panel green">
                                <img src="{{item.Influencer.profile_pic.url}}" alt="{{item.Influencer.profile_name}}">


                            </div>
                            <div class="row card-panel green profileText">

                                {{item.Influencer.name}}
                                <br>
                                {{item.Influencer.profile_name}}

                            </div>

                        </div>
                        <div class="col s9 card-panel red ">
                            profile text
                        </div>